<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>261하우스 컨퍼런스</span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<div class="content">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="신청">
      <div class="apply-tab">
        <mat-card class="apply-card">
          <mat-card-header>
            <mat-card-title>261하우스 컨퍼런스 신청</mat-card-title>
            <mat-card-subtitle>하단 내용 입력 후 제출해주세요.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="applyForm">
              <mat-form-field appearance="outline">
                <mat-label>컨퍼런스 종류</mat-label>
                <mat-select formControlName="type" required>
                  <mat-option value="Serverless web project">Serverless web project</mat-option>
                  <mat-option value="About cloud computing">About cloud computing</mat-option>
                  <mat-option value="Video Converting">Video Converting</mat-option>
                  <mat-option value="Live Streaming Service">Live Streaming Service</mat-option>
                  <mat-option value="Mobile Home Shopping">Mobile Home Shopping</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>유저 ID</mat-label>
                <input matInput type="text" placeholder="유저 ID" formControlName="user_id" required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>이름</mat-label>
                <input matInput type="text" placeholder="이름" formControlName="user_name">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>휴대폰 번호</mat-label>
                <input matInput type="text" placeholder="휴대폰 번호" formControlName="phone_number">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>회사명</mat-label>
                <input matInput type="text" placeholder="회사명" formControlName="company_name">
              </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="primary"
                    [disabled]="!applyForm.valid"
                    (click)="submit()">제출</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="신청자 리스트">
      <mat-list>
        <mat-list-item *ngFor="let user of users">
          <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
          <h4 mat-line>{{user.user_name}}</h4>
          <p class="description" mat-line> 회사명 : {{user.company_name}} </p>
          <p class="description" mat-line> 신청 컨퍼런스 : {{user.type}} </p>
          <button mat-icon-button color="accent" (click)="openPrintDialog(user)">
            <mat-icon>print</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
