header {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.content {
  width: 100%;
  .apply-tab {
    padding: 32px 0 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .apply-card {
      width: 80%;
      mat-form-field {
        width: 100%;
      }
    }
  };
  mat-list-item {
    border-bottom: 1px solid #e8e8e8;
    .description {
      color: gray;
    }
  }
}
